<div class="p-4 flex min-h-full flex-col justify-center gap-4">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm flex flex-col gap-4">
        <img src="/orbit.png" alt="Your Company" class="mx-auto h-10 w-auto" />
        <h1 class="text-center text-2xl tracking-tight">Orbit</h1>
        <h2 class="text-center text-gray-500 tracking-tight">{{ newUserText() }}</h2>
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6">
            <div>
                <hlm-input-group>
                    <input hlmInputGroupInput [formField]="newUserForm.nome" type="text"
                        [placeholder]="nomePlaceholder()" />
                    <hlm-input-group-addon>
                        <ng-icon name="lucideUser" />
                    </hlm-input-group-addon>
                </hlm-input-group>
                @if (newUserForm.nome().touched() && newUserForm.nome().invalid()) {
                <ul class="mt-1 text-sm text-red-500 ml-2 text-end">
                    @for (error of newUserForm.nome().errors(); track error) {
                    <li>{{ error.message }}</li>
                    }
                </ul>
                }

            </div>

            <div>
                <hlm-input-group>
                    <input hlmInputGroupInput [formField]="newUserForm.sobrenome" type="text"
                        [placeholder]="sobrenomePlaceholder()" />
                    <hlm-input-group-addon>
                        <ng-icon name="lucideUser" />
                    </hlm-input-group-addon>
                </hlm-input-group>
                @if (newUserForm.sobrenome().touched() && newUserForm.sobrenome().invalid()) {
                <ul class="mt-1 text-sm text-red-500 ml-2 text-end">
                    @for (error of newUserForm.sobrenome().errors(); track error) {
                    <li>{{ error.message }}</li>
                    }
                </ul>
                }

            </div>

            <div>
                <hlm-input-group>
                    <input hlmInputGroupInput [formField]="newUserForm.email" type="email"
                        [placeholder]="emailPlaceholder()" />
                    <hlm-input-group-addon>
                        <ng-icon name="lucideMail" />
                    </hlm-input-group-addon>
                </hlm-input-group>
                @if (newUserForm.email().touched() && newUserForm.email().invalid()) {
                <ul class="mt-1 text-sm text-red-500 ml-2 text-end">
                    @for (error of newUserForm.email().errors(); track error) {
                    <li>{{ error.message }}</li>
                    }
                </ul>
                }

            </div>

            <div>
                <hlm-input-group>
                    <input hlmInputGroupInput [formField]="newUserForm.password" type="password"
                        [placeholder]="passwordPlaceholder()" />
                    <hlm-input-group-addon>
                        <ng-icon name="lucideLock" />
                    </hlm-input-group-addon>
                </hlm-input-group>
                @if (newUserForm.password().touched() && newUserForm.password().invalid()) {
                <ul class="mt-1 text-sm text-red-500 ml-2 text-end">
                    @for (error of newUserForm.password().errors(); track error) {
                    <li>{{ error.message }}</li>
                    }
                </ul>
                }
            </div>

        </form>

        <div class="mt-4">
            <button type="submit" hlmBtn aria-label="Submit" variant="default" class="flex w-full justify-center"
                (click)="onSubmitNewUser()" [disabled]="!newUserForm().valid()">
                {{submitText()}}
            </button>
        </div>

        <p class="mt-4 text-center text-sm/6">
            <a routerLink="/login" class="flex justify-center items-center gap-1 font-semibold text-primary hover:text-primary/80 content-baseline">
                <ng-icon name="lucideArrowLeft"/>
                {{goBackText()}}
            </a>
        </p>
    </div>
</div>